@font-face {
  font-family: "SourceSerif";
  font-style: normal;
  src: url("../../fonts/SourceSerifPro/SourceSerifPro-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "SourceSerif Medium";
  font-style: normal;
  src: url("../../fonts/SourceSerifPro/SourceSerifPro-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "SourceSerif Bold";
  font-style: normal;
  src: url("../../fonts/SourceSerifPro/SourceSerifPro-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  src: url("../../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  src: url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  src: url("../../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed Bold";
  font-style: normal;
  src: url("../../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf")
    format("truetype");
}
